# Ignore node_modules
node_modules/

# Ignore .env files
.env
.env.production

# Ignore build or dist directories
dist/
build/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore nodemon.json file
nodemon.json

